@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* This ensures your app stays centered even if other styles fail */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #020617;
    font-family: 'Poppins', 'Segoe UI', sans-serif;
}